<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<!--<link rel="stylesheet" href="src/theme.css">-->
		<title>Excel like Web App with React</title>
	</head>
	<body>
		<div id="app">
			<!-- React will load here -->
		</div>
		<!-- test-->
		<div id="react-table"></div>
	</body>

	<script src="../../static/frontend/main.js"></script>
</html>
