.controls {
	border: 1px solid;
	border-radius: 10%;
	padding: 0px 2px;
	margin: 1px;
}
.trash-bin {
	color: #e6291c;
}

.delete {
	color: white;
	background-color: #e6291c;
}
.edit {
	color: white;
	background-color: #007bff;
}
.add {
	color: white;
	background-color: #28a745;
}
.list {
	list-style-type: none;
}
.list li {
}
